@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>My Grocery List</h1>
<ul id="GroceryList">
</ul>

<div>
    <hr />
    <form id="createGroceryListForm" class="form">
        <h4>Add new item to Grocery List</h4>
        <div class="form-group">
            <label for="title">Item Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" />
        </div>
        <div class="form-group">
            <label for="author">Quantity</label>
            <input type="text" class="form-control" id="price" placeholder="Price" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts {
    <script>

        // WHEN DOCUMENT READY
        $(function () {
            loadData();
            $("#createGroceryListForm").submit(function() {
            createGroceryList();
            return false;
            });
         });

        function loadData() {
            $.ajax({
                url: "/api/GroceryLists",
                dataType: 'json',
                contentType: 'application/json',
                method: 'GET'
            }).done(function (responseJSON, status, xhr) {
                // process the response when status code is 200-299
                buildGroceryList(responseJSON);
            }).fail(function (xhr, status, error) {
                // deal with error from server (status code 400-599)
                alert("There was an error retrieving the data");
            });
        }

        function deleteGroceryList(id) {
            $.ajax({
                url: '/api/GroceryLists/' + id,
                dataType: 'json',
                contentType: 'application/json',
                method: 'DELETE',
            }).done(function (responseData, status, xhr) {
                loadData(); // RELOAD THE BOOK DATA
            }).fail(function (xhr, status, error) {
                alert("There was an error deleting your Grocery List ");
            });
        }

        function buildGroceryList(groceries) {
            $("#GroceryList").empty();
            $.each(groceries, function (index, item) {
                var li = $('<li grocerylist-id="' + item.id + '"></li>');
                if (item.isPurchased == true) {
                    var result = "Purchased";
                }
                else {
                    var result = "Not Purchased";
                }
                $(li).text(item.name + ' - ' + item.price + ': ' + result);
                $(li).append(' <a href="#" class="pull-right grocerylist-delete">Delete</a>')
                $(li).append('<span class="pull-right">&nbsp;|&nbsp;</span>');
                $(li).append('<a href="#" class="pull-right grocerylist-purchase">Purchase</a>');
                
                var purchaseForm = $('<div style="display: none;" class="row purchase-form"></div>');
                var purchasebutton = $('<div class="col-sm-4"><button class="btn btn-primary grocerylist-save">Purchase!</button> <button class="btn btn-default grocerylist-cancel">Cancel</button></div>');
                $(purchaseForm).append(purchasebutton);
                $(li).append(purchaseForm);
                $("#GroceryList").append(li);
            });
        }

        $("#GroceryList").on('click', 'a.grocerylist-delete', function () {
            var id = $(this).parents("li").attr('grocerylist-id');
            console.log(id);
            if (confirm("Are you sure you want to delete this GroceryList?")) {
                deleteGroceryList(id);
            }
            return false;
        });


        function createGroceryList() {
        var requestData = {
        name: $("#name").val(), // GET THE Item Name VALUE
        price: $("#price").val() // GET THE Price VALUE
        };
        $.ajax({
        url: '/api/GroceryLists',
        dataType: 'json',
        contentType: 'application/json',
        method: 'POST',
        data: JSON.stringify(requestData)
        }).done(function(responseData, status, xhr) {
        loadData(); // RELOAD THE GROCERY LIST DATA
        $("#name").val(""); //CLEAR ITEM NAME
        $("#price").val(""); //CLEAR Price
        }).fail(function(xhr, status, error) {
        alert("There was an error saving your purchased Item");
        });
        }

        function purchaseGrocery(id, callback) {
            $.ajax({
                url: 'api/GroceryList/purchase' + id,
                dataType: 'json',
                contentType: 'application/json',
                method: 'PUT',
                //data: JSON.stringify(requestData)
            }).done(function (responseData, status, xhr) {
                loadData(); // RELOAD THE BOOK DATA
                if (callback) {
                    callback();
                }
            }).fail(function (xhr, status, error) {
                alert("There was an error saving your list item");
            });
        }

         $("#GroceryList").on('click', 'a.grocerylist-purchase', function () {
            $(this).parents("li").find('.purchase-form').show();
            return false;
        });


        $("#GroceryList").on('click', 'button.grocerylist-cancel', function () {
            $(this).parents("li").find('.purchase-form').hide();
            return false;
        });

        $("#GroceryList").on('click', 'button.grocerylist-save', function () {
            var id = $(this).parents("li").attr('item-id');
            purchaseGrocery(id, function () {
                $(this).parents("li").find('.purchase-form').hide();
            });
            return false;
        });
    </script>
}
